/* Pág Home*/

.center{
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#menu li {
    display: inline;
    padding: 15px;
}

#menu li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

#menu li a:hover{
    color:gray;
}

.p-30{
    padding: 30px;
}

.br-50{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.tm-social {
    width: 50px;
    height: 50px;
 }

 /* Pág Galeria */

 .galeria {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
}

.galeria li {
    width: 23%;
    margin: 1%;
}

.galeria li img{
width: 100%;
}

/* Pág Contato*/

.ml-50 {
    margin-left: 50px;
 }